{% extends "base.html" %}
{% block content %}
  <h1>{{joke.title}}</h1>


{% if message %}
    <div class="alert alert-success">
      <ul>
        <li>{{message}}</li>
      </ul>
    </div>
{% endif %}

{% if user.id == joke.owner_id %}
  <form method="post" action="{{base_path}}/destroyjoke">
     <div class="form-group">
        <input type="hidden" name="id" value={{joke.id}} readonly>
      </div>
    <button type="submit" class="btn btn-danger">Tuhoa vitsi</button>
  </form>
{% endif %}

  <p></p>
  <div class = "well">        
        <p>{{joke.description}}</p>
  </div>

{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}

{% if user_logged_in %}
  <form method="post" action="{{base_path}}/addcomment">
      <div class="form-group">
        <label>Kirjoita kommentti</label>
        <textarea name="message" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="hidden" name="joke_id" value={{joke.id}} readonly>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Kommetoi</button>
      </div>
</form>
{% endif %}

{%for comment in comments%}
    <div class = "panel panel-default">
        <p>{{comment.message}}</p>
    </div>
    {% endfor %}

{% endblock %}