{% extends "base.html" %}
{% block content %}
<h1>Create a new joke</h1>

<form method="post" action="{{base_path}}/game">
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="title" class="form-control">
    </div>

    <div class="form-group">
      <label>Vitsi</label>
      <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}