{% extends "base.html" %}
{% block content %}
  <h1>Kuva arkistosi</h1>
{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
      <ul>
        <li>{{message}}</li>
      </ul>
    </div>
  {% endif %}
  <p>
    <a href="{{base_path}}/newjoke" class="btn btn-success">Lisää Vitsi</a>
  </p>

  {%for joke in jokes%}
    <div class = "well">
        <h4><a href="{{base_path}}/{{joke.id}}">{{joke.title}}</a></h4>
        
        <p>{{joke.description}}</p>
        
    </div>
  {% endfor %}
  </table>
{% endblock %}